* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.hero {
  color: white;
  padding-top: 90px;
  text-align: center;
  height: 100vh;
  background-image: -webkit-linear-gradient(top, rgba(17, 2, 49, 0.75), rgba(17, 2, 49, 0)),
    -webkit-linear-gradient(bottom left, #eb6670, #f67f7c, #f9ac97, #f1b79f, #e1bea7, #c3bcb0, #8aabb2, #4e95b2, #2588b6);
}

h1 {
  margin: 30px auto;
  width: 100%;
  max-width: 750px;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.2;
  padding: 0 30px;
}

h2 {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.box {
  font-weight: lighter;
  font-size: 20px;
  transform-origin: center center;
  position: absolute;
  border: 1px solid white;
  border-color: rgba(255, 255, 255, 0.33);
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box:hover {
  border-color: rgba(255, 255, 255, 0.67);
  background-color: rgba(255, 255, 255, 0.33);
}